/* {} */

/* Selector Universal */
* {
  padding: 0px;
  margin: 0px;
}     

/* Selector Universal */

/* Fondo Animado */
body{
  background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894 ,#A950A1, #FF7CAE );
  background-size: 500%;
  animation: fondoanimado 30s infinite;
}

@keyframes fondoanimado{
  0%{ 
    background-position: 0% 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 0% 50%;
}

}
/* Fondo Animado */

/* Index Main */
.computadoras{
  height: 70%;
  width: 90%;
  margin: 30px; 
}
.computadoras img{
object-fit: contain;
}
.computadoras button a{
  text-decoration: none;
  color: white;
} 

.componentes{
  height: 70%;
  width: 90%;
  margin: 30px;
}
.componentes img{
object-fit: contain;
}
.componentes button a{
  text-decoration: none;
  color: white;
} 

/* Index Main */

/* Servicios */
.servicio-1{
margin: 10vh;
display: flex;
text-align: center;
justify-content: center;
}

.servicio-2{
  margin: 10vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.servicio-3{
  margin: 10vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
/* Servicios */

/* Formulario */
.formulario {
  border: 1px solid black;
  border-radius: 1vh;
  background-color: white;
  width: 90%;
  height: 700px;
  margin: 50px;
  padding: 35px;
  display: flex;
  box-sizing: border-box;
  overflow: auto;
}
/* Formulario */

/* Nosotros */
.nosotros-main{
width: 100%;
height: 80%;
margin: 20px;
padding: 60px;
box-sizing: border-box;
}

.nosotros-main h2{
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.nosotros{
  padding: 5px;
}
.nosotros h3{
font-size: 30px;
color: white;
text-transform: uppercase;
text-align: center;
margin-top: 80px;
background-color: black;
border-radius: 5px;
}
.nosotros p{
  justify-content: center;
  color: white;
  font-size: 20px;
}

.metodo{
  padding: 5px;
}
.metodo h3{
font-size: 30px;
color: white;
text-transform: uppercase;
text-align: center;
margin-top: 45px;
background-color: black;
border-radius: 5px;
}
.metodo p{
  justify-content: center;
  color: white;
  font-size: 20px;
}

.marcas{
  padding: 5px;
}
.marcas h3{
font-size: 30px;
color: white;
text-transform: uppercase;
text-align: center;
margin-top: 45px;
background-color: black;
border-radius: 5px;
}
.marcas p{
  justify-content: center;
  color: white;
  font-size: 20px;
}

.ubicación{
  padding: 5px;
}
.ubicación h3{
font-size: 30px;
color: white;
text-transform: uppercase;
text-align: center;
margin-top: 45px;
background-color: black;
border-radius: 5px;
}
.ubicación p{
  justify-content: center;
  color: white;
  font-size: 20px;
}
/* Nosotros */

/* Footer */

/* Footer */
.footer{
  width: 100%;
  height: 250px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
  text-align: center;
}

.noticias{
  height: 200px;
  width: 350px;
  align-items: center;
  text-align: center;
}

.noticias span{
font-size: 25px;
padding: 20px;
text-transform: uppercase;
}

.info{
  height: 200px;
  width: 350px;
  align-items: center;
  text-align: center;
} 

.info span{
font-size: 25px;
padding: 20px;
text-transform: uppercase;
}

.redes{
  height: 200px;
  width: 350px;
  align-items: center;
  text-align: center;
}

.redes span{
font-size: 25px;
padding: 20px;
text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */
