*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(135deg,rgba(2,0,36,1) 4%, rgba(6,5,84,1) 23%, rgba(9,9,121,1) 38%, rgba(7,55,151,1) 55%, rgba(5,100,181,1) 72%, rgba(3,156,218,1) 86%, rgba(0,212,255,1) 100%);
    background-size: 500%;
    animation: fondoanimado 30s infinite;

    @keyframes fondoanimado{
        0%{ 
          background-position: 0% 50%;
      }
      50%{
        background-position: 100% 50%;
      }
      100%{
        background-position: 0% 50%;
      }
      }  
}

.nav-bar{

    .navbar-toggler{
        background-color: white;
    }
    
  .navbar-brand{
      color: white;
      text-transform: uppercase;
      font-size: 25px;
    }
    
    .nav-link{
        color: white;
        font-size: 15px;
    text-transform: uppercase;
  }
  
  .collapse{
      text-align: center;
      justify-content: center;
    }
}
    
.computadoras{
  height: auto;
  width: 600px;
  margin: 10px;
  text-align: center;

img{
  object-fit: contain;
}

button{
  margin-top: 10px;    
}

a{
  text-decoration: none;
  color: white;
}

h5{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    text-transform: uppercase;
    color: white;
    background-color:rgb(40, 44, 47);
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
}

.componentes{
    height: auto;
    width: 600px;
    margin: 10px;
    text-align: center;

img{
    object-fit: contain;
}

button{
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: white;   
}

h5{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    height: 30px;
    color: white;
    background-color:rgb(40, 44, 47);
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
}

.servicio-1{
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}
    
.servicio-2{
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.servicio-3{
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.formulario{
  border: 1px solid black;
  border-radius: 1vh;
  background-color: rgb(40, 44, 47);
  width: 90%;
  height: 700px;
  margin: 50px;
  padding: 35px;
  display: flex;
  box-sizing: border-box;
  overflow: auto;


label{
  color: white;
}

.botonform{
    text-align: center;
    justify-content: center;
}
}


.nosotros-main{
    width: 80%;
    height: auto;
    margin: 20px;
    padding: 60px;
    box-sizing: border-box;
    align-items: center;

h1{
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color:rgb(40, 44, 47);
  border-radius: 5px;  
}
}

.nosotros{
    width: 100%;
    height: auto;
    padding: 5px;

h3{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(40, 44, 47);
    border-radius: 5px;   
}

p{
  justify-content: center;
  color: white;
  font-size: 20px;  
}
}

.metodo{
    padding: 5px;

h3{
font-size: 30px;
color: white;
text-transform: uppercase;
text-align: center;
margin-top: 45px;
background-color:rgb(40, 44, 47);
border-radius: 5px;
}

p{
    justify-content: center;
    color: white;
    font-size: 20px;  
}
}

.marcas{
    padding: 5px;

h3{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
    background-color:rgb(40, 44, 47);
    border-radius: 5px; 
}

p{
    justify-content: center;
    color: white;
    font-size: 20px; 
}
}

.ubicación{
    padding: 5px;

h3{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
    background-color:rgb(40, 44, 47);
    border-radius: 5px;  
}

p{
    justify-content: center;
    color: white;
    font-size: 20px;
}
}

.pie{
    width: 100%;
    height: auto;
    background-color:rgb(40, 44, 47);
    border: 1px black solid;
    padding: 20px;
}
    
    .marca {
        padding: 5px;
        
h3 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
    background-color:rgb(40, 44, 47);
    border-radius: 5px;
}

p{
    justify-content: center;
    color: white;
    font-size: 20px; 
}
}

.ubicación{
    padding: 5px;
    width: 300px;
    
    h3{
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 45px;
        background-color:rgb(40, 44, 47);
        border-radius: 5px;  
    }
    
    p{
        justify-content: center;
        color: white;
        font-size: 20px;
    }
}

.pie{
    width: 100%;
    height: auto;
    background-color:rgb(40, 44, 47);
    border: 1px black solid;
    padding: 20px;
}

.marca{
    text-align: center;
    justify-content: center;
    padding: 15px;
    
    h6{
        font-size: 15px;
        color: white;
    text-transform: uppercase;
}

p{
    font-size: 12px;
    color: white;
    display: block; 
}
}

.redes{
    text-align: center;
    justify-content: center;
    padding: 15px;
    
    h6{
        font-size: 15px;
        color: white;
        text-transform: uppercase;
    }
    
    a{
        display: block;
        text-decoration: none;
        color: whitesmoke;
        font-size: 12px;
        padding: 10px;
    }
}

.información{
    text-align: center;
    justify-content: center;
    padding: 15px;

    h6{
        font-size: 15px;
        color: white;
        text-transform: uppercase;
    }
    
    a{
        font-size: 12px;
        color: whitesmoke;
        display: block;
        text-decoration: none;
        padding: 10px;
    }
}

.other{
    text-align: center;
    justify-content: center;
    padding: 15px;
    
    h6{
        font-size: 15px;
        color: white;
        text-transform: uppercase;
    }
    
    p{
        font-size: 12px;
        color: whitesmoke;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
}